<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @sm.number %>
</p>

<p>
  <strong>Message:</strong>
  <%= @sm.message %>
</p>

<%= link_to 'Edit', edit_sm_path(@sm) %> |
<%= link_to 'Back', sms_path %>
